<?xml version="1.0" encoding="UTF-8"?>

<!-- 
 Copyright 2009: Thomson Reuters Global Resources.
 All Rights Reserved. Proprietary and Confidential information of TRGR.
 Disclosure, Use or Reproduction without the written authorization of TRGR is prohibited.
-->

<beans xmlns="http://www.springframework.org/schema/beans"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns:aop="http://www.springframework.org/schema/aop"
         xmlns:tx="http://www.springframework.org/schema/tx"
         xmlns:context="http://www.springframework.org/schema/context"
         xsi:schemaLocation="http://www.springframework.org/schema/beans 
           http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
           http://www.springframework.org/schema/aop 
           http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
           http://www.springframework.org/schema/tx 
           http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
		   http://www.springframework.org/schema/context 
		   http://www.springframework.org/schema/context/spring-context.xsd">
    
	<!-- the parent application context definition for the dashboard application -->
	
    <bean id="propertyConfigurer" 
          class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:notification.properties</value>
            </list>
        </property>
    </bean>
	
	<bean id="emailerImpl" class="org.springframework.mail.javamail.JavaMailSenderImpl">
<!--        <property name="host" value="smtp.gmail.com"/>-->
        <property name="host" value="${mail.host}"/>
<!--        <property name="port" value="25"/>-->
        <property name="port" value="${mail.port}"/>
        <property name="username" value="${mail.username}"/>
        <property name="password" value="${mail.password}"/>
        <property name="javaMailProperties">
            <props>
                <!-- Use SMTP transport protocol -->
                <prop key="mail.transport.protocol">smtp</prop>
                <!-- Use SMTP-AUTH to authenticate to SMTP server -->
                <prop key="mail.smtp.auth">true</prop>
                <!-- Use TLS to encrypt communication with SMTP server -->
                <prop key="mail.smtp.starttls.enable">true</prop>
                <prop key="mail.debug">true</prop>
            </props>
        </property>
    </bean>
	
	
	<bean id="emailManager" class="nirmal.singh.spring.gmail.SimpleMailManager">
		<property name="sender" ref="emailerImpl"/>
		<property name="senderAddress" value="${mail.from}"/>
		<property name="notificationGroup" value="${mail.to}"/>
	</bean>
	
</beans>
